.jumbotron {
    color: black;
    background:
    repeat-x,
    url('/assets/static/background_image copy.jpg');
    
}

 .card-title, .card-text,  .card-footer {
    padding: .5em;
}

.card {
    padding: 1em;

}
