<div class="container ">
  <div class="jumbotron">
    <BR><BR>
       
 
                <form (ngSubmit)="onSubmit(ngForm)" #signupForm="ngForm">
                 <div class="row">
                    <div align="center" class="container">

                  <div class="col-md-4 col-lg-4 col-sm-4">
                  <div class="form-group col-md-12">
                      <label for="email">Email</label>
                      <input type="email"
                      id="email"
                      placeholder="johnsmith@outlook.com"
                      class="form-control"
                      required
                      name="email"
                      #email='ngModel'
                      [(ngModel)]="user.email"
                      >
                              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                              class="alert alert-danger"
                              > Email is required
                              </div>
                  </div>

                  <div class="form-group col-md-12">
                      <label for="password">Password</label>
                      <input type="password"
                      id="password"
                      placeholder="be secure"
                      class="form-control"
                      required
                      name="password"
                      #password='ngModel'
                      [(ngModel)]="user.password"
                      >
                              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                              class="alert alert-danger"
                              > Password is required
                              </div>
                  </div>

                  <BR>

                        <div class="container">
                            <div class="container">
                              <button class="butt col-4 btn-outline-primary" 
                              [hidden]="submitted" 
                              [disabled]="!signupForm.valid" 
                              type="submit" 
                              value="Create"
                              >Signup</button>
                            </div>
                        </div>
                        {{error}}
                </div>
                </div>
              </div>
                </form>
  </div>
</div>