.jumbotron {
    color: black;
}

.profile_size{
    height: 200px;
    width: auto;
}

.card, .profile, .md-col-4 {
    text-align: center;
    /* margin: 0px; */
    padding-left: 3rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

}
.md-col-3 p{
    text-align: center;
    padding-left: 1rem;

}

.card img, .card p{
    text-align: center;
    padding-right: 1rem;

}

.cityText p{
    padding-left: 3rem;

}
.cityText h3{
    padding-left: 4rem;

}